<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/customs/float-button.css" rel="stylesheet" />
    <link href="~/Content/customs/modal.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/customs/common.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/vendor/chart/code/highstock.js"></script>
    <script src="~/Scripts/vendor/chart/code/modules/data.js"></script>
    <script src="~/Scripts/vendor/chart/code/modules/exporting.js"></script>
    <script src="~/Scripts/vendor/chart/code/modules/export-data.js"></script>
    <script src="~/Scripts/customs/maps.js"></script>
</body>
</html>
